/*================== CONTACT FORM ==================*/
#mainContact {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

#mainContact #formContact {
  background-color: #fff;
  height: auto;
  margin: 50px 50px;
}

#MainInput {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 3px 6px #888888;
}

#mainContact #formContact #Question {
  height: 100px;
}

/*================== BANNER ==================*/
.contact-info {
  background-color: #5457A6;
  height: auto;
}

.contact-info h2{
  color: #fff;
  padding-bottom: 20px;
}

.content {
  padding: 20px 30px 0 30px;
}

form span {
  color: #ff0000
}

/*================== SIDE IMAGE ==================*/
.contact-img-container {
  width: 85%;
  height: 85%;
}

/*================== RESPONSIVE ==================*/
@media (max-width: 1400px) {
  .contact-img-container {
    width: 100%;
  }
} 

@media (max-width: 900px) {
  #mainContact {
    grid-template-columns: 1fr; 
  }

  .contact-img-container {
    text-align: center;
  }

  .contact-img-container img {
    width: 70%;
  }
} 