/*================== GENERAL ==================*/
:root {
    --margin-left-panel: 0 20px 0 250px;
    --margin-right-panel: 0 250px 0 20px;
    --margin-long-panel: 0 250px;
}

.donate-container h2 {
    margin-bottom: 20px;
}

/*================== GRID SETTINGS ==================*/
.main-header{grid-area: head}
.why-donate{grid-area: info1}
.benefits-donate{grid-area: info2}
.received-donations{grid-area: donations}
.donate-now{grid-area: donate}
.image-container{grid-area: img;}


.grid-container {
    display: grid;
    grid-template-areas:
    "head head head head"
    "info1 info1 info2 info2"
    "donations donations donations donations"
    "donate donate img img";
    grid-gap: 60px;
}

/*================== MAIN HEADER ==================*/
.donate-container .main-header {
    text-align: center;
}

.donate-container .main-header img {
    width: 90%;
}

.donate-container .main-header h1 {
    font-size: 5rem;
    font-weight: normal;
}



/*================== INFORMATION ==================*/
.donate-container .why-donate {
    margin: var(--margin-left-panel)
}

.donate-container .benefits-donate {
    margin: var(--margin-right-panel)
}



/*================== RECEIVED DONATIONS ==================*/
.donate-container .received-donations {
    margin: var(--margin-long-panel)
}

.donate-container .block {
    display: inline-block;
    background-color: #F4F4F4;
    width: 130px;
    height: 100px;
}

.donate-container .block p {
    text-align: center;
}

.donate-container .block {
    margin: 10px 10px;
}

.donate-container .block-wrapper div:first-of-type {
    background-color: #5457A6;
    color: #fff;
    font-weight: 900;
}

.donate-container .block-wrapper div:nth-of-type(2) {
    background-color: #EEBB56;
    font-weight: 900;
}

.donate-container .block p:first-of-type {
    margin-top: 20px;
}

.donate-container .block p:last-of-type {
    position: relative;
    top: 25%;
}

.donate-container #new-donator {
    display: none;
}

#Progressbar {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  #Progressbar .bar {
    height: 2rem;
    width: 100%;
  }
  #Progressbar p {
    text-align: center;
    margin: 0.5rem 0;
  }
  #Progressbar #Progress {
    width: 63%;
  }
  #Progressbar #Progress .bar {
    background-color: #5457A6;
  }
  #Progressbar #MainGoal {
    width: 37%;
  }
  #Progressbar #MainGoal .bar {
    background-color: #EEBB56;
  }


/*================== DONATE NOW ==================*/
.donate-container .donate-now {
    margin: var(--margin-left-panel)
}

form {
    display: flex;
    flex-direction: column;
}
  
form input {
    width: 12rem;
} 

/* image on the side */
.image-container {
    margin: var(--margin-right-panel)
}

.image-container img {
    width: 100%;
}

/*================== RESPONSIVE ==================*/
@media (max-width: 1450px) {
    :root {
        --margin-left-panel: 0 20px 0 150px;
        --margin-right-panel: 0 150px 0 20px;
        --margin-long-panel: 0 150px;
    }
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-areas:
        "head head head head"
        "info1 info1 info2 info2"
        "donations donations donations donations"
        "donate donate donate donate"
        "img img img img";
    }

    :root {
        --margin-left-panel: 0 5px 0 80px;
        --margin-right-panel: 0 80px 0 5px;
        --margin-long-panel: 0 80px;
    }

    .image-container {
        margin: 0;
    }

    form input {
        width: 30rem;
    } 
}

@media (max-width: 800px) {
    :root {
        --margin-left-panel: 0 20px 0 20px;
        --margin-long-panel: 0 20px;
    }

    .grid-container {
        grid-template-areas:
        "head head head head"
        "info1 info1 info1 info1"
        "info2 info2 info2 info2"
        "donations donations donations donations"
        "donate donate donate donate"
        "img img img img";
    }

    .donate-container .benefits-donate {
        margin: var(--margin-left-panel)
    }

    .donate-container .main-header h1 {
        font-size: 3.5rem;
        font-weight: normal;
    }

    
}

@media (max-width: 650px) {
    form input {
        width: 12rem;
    } 

    .donate-container {
        text-align: center;
    }

}