/*================== GENERAL FORM SETTINGS ==================*/
form textarea {
  resize: none;
}

form h3 {
  margin-left: 5px;
  color: #000;
  font-weight: normal;
  font-size: 16px;
}

form input,
form textarea {
  height: 30px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #acacac;
  border-radius: 0.5rem;
  padding: 0 1em;
  width: 100%;
  
}

input[type="submit"] {
  font-size: 1.2em;
  font-weight: 500;
  width: 12em;
  background-color: #eebb55;
  color: white;
  border: none;
  border-radius: 10px;
  height: 40px;
}

input[type="checkbox"]
{
    vertical-align:middle;
    width: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}