/*==================== GENERAL ====================*/

body {
  background-color: rgba(84, 87, 166, 0.06);
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 25px;
  row-gap: 25px;
  margin: 0 20px;
}

/*==================== ANIMAL CARDS ====================*/
.animal-card {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.animal-card .picture img {
  position: relative;
  width: 100%;
  min-height: 200px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.animal-card .description {
  padding: 10px;
}

.animal-card .name, .animal-card .species {
  padding-bottom: 10px;
}

.animal-card .adopt {
  height: 50px;
  line-height: 50px;
  background-color: #eebb55;
  color: #fff;
  font-weight: 900;
  text-align: center;
  border-radius: 10px;
  margin: 20px 0;
  width: 40%;
}
/*==================== RESPONSIVE ====================*/
/*================== tablet ==================*/
@media (max-width: 1200px) {
  .card-container {
    grid-template-columns: auto auto;
  }
}

/*================== tablet landscape ==================*/
@media (max-width: 900px) and (orientation: landscape) {
  .card-container {
    grid-template-columns: auto;
  }
}

/*================== Mobile ==================*/
@media (max-width: 660px) {
  .card-container {
    grid-template-columns: auto;
  }
}